
body {
  font-family: 'Open Sans', sans-serif;
  color: #3f3f40;
  margin: 20px;
}

h1 {
  text-align: center;
}

#content {
  margin: 20px auto;
  max-width: 800px;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
  text-decoration: None;
  cursor: pointer;
  color: #337ab7;
}

ul {
  list-style-type: none;
  line-height: 2.5;
  padding-inline-start: 5px;
}

button {
  cursor: pointer;
}

.search-container input,
.search-container button {
  line-height: 20px;
  font-size: 14px;
}

li img {
  width: 16px;
  vertical-align: middle;
  padding-right: 5px;
}

.api-list {
  margin-top: 2.5em;
}

input {
  padding-left: 5px;
}

a > i {
  color: black;
}
